<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/javascripts/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/javascripts/support.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <!--<header>-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="topNav">
                <li class="navLink active"><a href="#">Home</a></li>
                <li class="navLink"><a href="#">Products</a></li>
                <li class="navLink"><a href="#">About Us</a></li>
                <li class="navLink navRight"><a href="#">Sign in</a></li>
            </ul>
        </div>
    </nav>
    <!--</header>-->
    <main class="container-fluid clearfix">
        <article class="row">
            <h2 class="center-block">The following examples are contained within an &lt;article&gt; element</h2>
            <hr>
            <section id="part1" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="segmenttitle">Demonstrating the &lt;figure&gt; and &lt;figcatpion&gt; elements</p>
                <p>Khardung La is a mountain pass located in the Ladakh region of the Indian state of Jammu and Kashmir. The
                    local pronunciation is "Khardong La" or "Khardzong La," but, as with most names in Ladakh, the romanised
                    spelling varies.</p>
                <figure>
                    <img src="/images/khardung-la.jpg" alt="The Pulpit Rock" class="img-responsive">
                    <figcaption>
                        <h3 class="figCaptionMain">Khardung La</h3>
                        <p class="figCaptionSecondary">Mountain pass in India</p>
                    </figcaption>
                </figure>
            </section>
            <section id="part2" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="segmenttitle">The &lt;video&gt; element</p>
                <p>The Pyrenees is a range of mountains in southwest Europe that forms a natural border between France and Spain.
                    It separates the Iberian Peninsula from the rest of continental Europe, and extends for about 491 km
                    (305 mi) from the Bay of Biscay (Cap Higuer) to the Mediterranean Sea (Cap de Creus). This video clip
                    is used for this demo, from a YouTube video with creative commons licence.</p>
                <!--<video width="420" height="240" controls>-->
                <video class="img-responsive" controls>
                    <source src="/images/time-lapse-pyrennean-french-mountains.mp4" type="video/mp4">
                    <!--<source src="movie.ogg" type="video/ogg">-->
                    Your browser does not support the video tag.
                </video>
            </section>
            <section id="part3" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <p class="segmenttitle">The &lt;embed&gt; tag</p>
                <p>The Pyrenees is a range of mountains in southwest Europe that forms a natural border between France and Spain.
                    It separates the Iberian Peninsula from the rest of continental Europe, and extends for about 491 km
                    (305 mi) from the Bay of Biscay (Cap Higuer) to the Mediterranean Sea (Cap de Creus). This clip is an
                    embedded YouTube video using the HTML5 <em>embed</em> tag.</p>
                <embed src="https://www.youtube.com/embed/-Vq0iAux38A" height="253" width="449">
            </section>
        </article>
        <hr>
        <h3>We'll now take a look at some other tags</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p>The &lt;details&gt; and &lt;summary&gt; tags</p>
                <div style="display: table;">
                    <details id="details-tag" style="display:table-cell;vertical-align:middle;">
                        <summary>Copyright 2016.</summary>
                        <p style="margin-left:auto;margin-right:auto;"> - by Zeolearn LLC. All Rights Reserved.</p>
                        <p style="margin-left:auto;margin-right:auto;">All content and graphics on this web site are the property of the company Zeolearn LLC.</p>
                    </details>
                </div>
            </div>
            <div class="col-md-4">
                <p>The &lt;canvas&gt; element</p>
                <canvas id="aCanvas" width="240" height="300" style="border:1px solid #333;">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>
            <div class="col-md-4">
                <p>The File API</p>
                <div class="row well-spaced-row">
                    <span class="filespan col-lg-1 col-md-1 col-sm-1">1. </span>
                    <input class="col-lg-11 col-md-11 col-sm-11" type="file" name="imageFile" value="Image File" id="inputFile" onchange="handleSingleFile(event)">
                    <output class="col-lg-12 col-md-12 col-sm-12" name="fileName" for="FileName" id="sFile"></output>
                </div>
                <div class="row well-spaced-row">
                    <span class="filespan col-lg-1 col-md-1 col-sm-1">2. </span>
                    <input class="col-lg-11 col-md-11 col-sm-11" type="file" name="multiFile" value="Multiple Files" multiple onchange="handleFiles(event, this.files)"
                        id="multiFiles">
                    <output class="col-lg-12 col-md-12 col-sm-12" name="mFileNames" for="MultiFileNames" id="mFiles"></output>
                </div>
                <div class="row well-spaced-row">
                    <span class="filespan col-lg-1 col-md-1 col-sm-1">3. </span>
                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <input type="file" id="fileElem" multiple accept="image/*" style="display:none" onchange="handleFilesCustomElement(this.files)">
                        <a class="btn btn-danger" href="#" id="fileSelect">Select some files</a>
                        <p style="display: inline-block" id="fileNames">No file chosen</p>
                    </div>
                </div>
                <div class="row well-spaced-row" id="drop_zone">
                    <span class="filespan col-lg-1 col-md-1 col-sm-1">4. </span>
                    <div class="col-lg-6 col-md-6 col-sm-6 dropzone" id="drop_zone">Drop files here</div>
                    <!--<div class="col-lg-3 col-md-3 col-sm-3">
                        <button class="btn btn-default" onclick="abortRead();">Cancel read</button>
                    </div>-->
                </div>
                <!--<div class="col-lg-12 col-md-12 col-sm-12" id="progress_bar">
                    <div class="percent">0%</div>
                </div>-->
                <output class="col-lg-12 col-md-12 col-sm-12" id="list" File-info</output>

            </div>
        </div>
        <hr>
        <h3>The 3rd row - and some interesting HTML5 API</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p>Indexed DB</p>
                <div class="container">
                    <form>
                        <p>
                            <label for="name">Name:</label> <input id="name" disabled> <span id="status"></span>
                        </p>
                    </form>

                    <div id="displayEmployee">Emp: Details</div>
                </div>
            </div>
            <div class="col-md-4">
                <p>XMLHttpRequest</p>
                <div class="container">

                </div>
            </div>
            <div class="col-md-4">
                <p>Web Workers</p>
                <div class="container">
                    <button onclick="sayHI()">Say HI</button>
                    <button onclick="unknownCmd()">Send unknown command</button>
                    <button onclick="stop()">Stop worker</button>
                    <output id="result"></output>
                </div>
            </div>
        </div>
        <hr>
    </main>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <nav>
            <ul class="bottomNav">
                <li class="bNavLink"><a href="/contact">Contact us</a></li>
                <li class="bNavLink"><a href="/location">Location</a></li>
                <li class="bNavLink"><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </nav>
        <p class="copyright">Copyright Zeolearn LLC</p>
    </footer>
    <img id="scream" width="220" height="277" src="/images/pic_the_scream.jpg" alt="The Scream" class="hidden">
    <script src="/javascripts/vendor/jquery-1.12.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>
                console.log('In web workers section');
        var worker = new Worker('task.js');

        function sayHI() {
            console.log('In sayHI')
            worker.postMessage({ 'cmd': 'start', 'msg': 'Hi' });
        }
        sayHI();

        function stop() {
            console.log('Stop')
            // worker.terminate() from this script would also stop the worker.
            worker.postMessage({ 'cmd': 'stop', 'msg': 'Bye' });
        }
        /**
         * Modern browsers can pass JSON objects to workers
         * Earlier browsers supported only string messages
         * Does your browser support JSON object messages?
         */


        function unknownCmd() {
            console.log('unknownCmd')
            worker.postMessage({ 'cmd': 'foobard', 'msg': '???' });
        }

        worker.addEventListener('message', function (e) {
            console.log('Message from Worker')
            document.getElementById('result').textContent = e.data;
        }, false);


    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
</body>

</html>